ion-toolbar {    
    --background: #00bee4;
    --background: -webkit-gradient(linear, right top, left top, from(#00bee4), to(#0091d2));
    --background: linear-gradient(to left, #00bee4 0%, #0091d2 100%);
    color: white;
}
.cardimage{
    height: 350px;
    margin: 0;
    width: 100%;
}
.ion-back-btn .button-inner{
    justify-content: left !important;
}
.bottom-card{
    margin: -2% 0 0 0;
    z-index: 999;
    border-radius: 4%;
}